body {
  margin: 0;
  background-color: black;
  font-family: Helvetica, Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

canvas {
  width: 100vw;
  height: 100vh;
}

code {
  background: lightyellow;
}