.Header {
  position: fixed;
  top: 30px;
  right: 40px;
}

.Header__button {
  background: none;
  color: white;
  border: 0;
  border-bottom: 1px solid white;
  padding: 0.25rem 0.125rem;
  cursor: pointer;
  font-size: 0.75rem;
  transition: 0.2s;
}

.Header__button:hover {
  transform: scale(1.1);
}/****** monikai ******/
.json-pretty {
  line-height: 1.3;
  color: #66d9ef;
  background: #272822;
}
.json-pretty .json-key {
  color: #f92672;
}
.json-pretty .json-value {
  color: #a6e22e;
}
.json-pretty .json-string {
  color: #fd971f;
}
.json-pretty .json-boolean {
  color: #ac81fe;
}
.HIW__closebutton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: black;
  background: transparent;
  border: 0;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}
